@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body {
  height: 100vh;
  font: 100% "Raleway", sans-serif;
  color: #30323d;
  background-color: #fffdfd;
}

#landing h1 {
  font-family: "Bad Script", cursive;
  font-size: 4em;
  -webkit-animation-name: fadeIn;
  animation: 2.5s fadeIn;
}
#landing h4 {
  font-size: 1em;
}
#landing ul {
  padding-top: 30px;
  padding-left: 0;
}

#work .scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  height: 100vh;
  width: 100%;
}
#work .scrolling-wrapper-flexbox h2 {
  font-size: 1.3em;
}
#work .scrolling-wrapper-flexbox .panel {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: #cbf7ed;
}
#work .scrolling-wrapper-flexbox .panel:hover {
  background-color: #ef233c;
  border: 5px solid rgba(255, 255, 255, 0.5);
}
#work .scrolling-wrapper-flexbox .panel a {
  color: #fffdfd;
}
#work .scrolling-wrapper-flexbox #panel1 {
  background-color: #fffdfd;
  border: 5px solid rgba(255, 255, 255, 0.5);
}
#work .scrolling-wrapper-flexbox #panel1:hover {
  background: linear-gradient(rgba(239, 35, 60, 0.45), rgba(239, 35, 60, 0.45)), url("../images/1.jpg") no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.5;
  opacity: 0.5;
}
#work .scrolling-wrapper-flexbox #panel1:hover h2 {
  color: #fffdfd;
}
#work .scrolling-wrapper-flexbox #panel2 {
  background-color: #fffdfd;
  border: 5px solid rgba(255, 255, 255, 0.5);
}
#work .scrolling-wrapper-flexbox #panel2:hover {
  background: linear-gradient(rgba(239, 35, 60, 0.45), rgba(239, 35, 60, 0.45)), url("../images/2.jpg") no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.5;
  opacity: 0.5;
}
#work .scrolling-wrapper-flexbox #panel2:hover h2 {
  color: #fffdfd;
}
#work .scrolling-wrapper-flexbox #panel3 {
  background-color: #fffdfd;
  border: 5px solid rgba(255, 255, 255, 0.5);
}
#work .scrolling-wrapper-flexbox #panel3:hover {
  background: linear-gradient(rgba(239, 35, 60, 0.45), rgba(239, 35, 60, 0.45)), url("../images/3.jpg") no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.5;
  opacity: 0.5;
}
#work .scrolling-wrapper-flexbox #panel3:hover h2 {
  color: #fffdfd;
}

.navigation-links {
  padding-bottom: 2vh;
}
.navigation-links li {
  display: inline-block;
  /* width: 7vh;
  height: 7vh;
  border-radius: 50%;
  margin: 0 2vh 3vh 2vh;
  text-indent: 0;
  text-align: center;
  background-color: #cbf7ed;
  transition-timing-function: ease-in-out;
  transition: all 0.3s; */

  padding: 20px;
}
.navigation-links li .fas .fab {
  font-size: 1.5em;
  line-height: 7vh;
}
.navigation-links li span a {
  color: #30323d;
}
/* .navigation-links li:hover {
  transform: translateY(-15px) scale(1.2);
  background-color: #ef233c;
} */
.navigation-links li:hover span a {
  color: #ffffff;
  
}
.navigation-links li span {
  line-height: 7vh;
}

.fa-linkedin-in::before, .fa-pencil-alt::before, .fa-tumblr::before, .fa-file-code::before {
  font-size: 32px;
  margin:auto;
  text-indent: 0;
  text-align: center;
  
  transition-timing-function: ease-in-out;
  transition: all 0.3s;
}

.fas, .fab {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #cbf7ed;
  padding-top: 8px;
}
.fa-linkedin-in:hover, .fa-pencil-alt:hover {
  /* background-color: #ef233c;
  color: #ef233c; */
}

#sideproject h1{
    font-family: "Bad Script", cursive;
    font-size: 4em;
}

.card {
  border-radius: 0;
}
.card-body {
  padding-top: 30px;
  padding-bottom: 10px;
}
.card-body .card-title {
  color: #8d99ae;
}
.card-footer {
  background-color: #ffffff;
  border: 0;
  border-radius: 0;
}
.card-footer .btn-green {
  background-color: #cbf7ed;
}
.card-footer .btn-green:hover {
  background-color: #6267cd;
  color: #ffffff;
}



@media (min-width: 576px) {
  #work .scrolling-wrapper-flexbox .panel h2 {
    font-size: 2em;
    margin: 0.75em 0;
    text-align: center;
  }
}

/*# sourceMappingURL=main.css.map */
